*.exe
*.lib
*.obj
*.tlog
*.ilk
*.opensdf
*.sdf
*.pdb
*.suo
visual_studio_sln/api_library/Debug/*
visual_studio_sln/api_library/Release/*
visual_studio_sln/daemon/Debug/*
visual_studio_sln/daemon/Release/*

